/app/config/parameters.yml
/app/config/parameters.yml.bck
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web-server-pid
/.idea/
/src/AppBundle/Entity/*~
/src/UserBundle/Entity/*~
.web-server-pid
/web/uploads/
/src/UserBundle/Entity/*~

/mqtt/config.php

/web/uploads
/web/secretadmin/
/web/dump/
/web/jitsi-meet/
/web/jitsi/
/default.conf
*.old
*.old.*