<h2>Nouveau membre sur le site Cercle Confiance</h2>

<p>
    Bonjour,
    <br />
    {{ memberName }} a validé son inscription sur le site Cercle Confiance.
    <br />
    Email : <strong style="font-size:1em;color:#337ab7;">"<a href="mailto:{{ email }}">{{ email }}</a>" !</strong>
</p>