{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row userResettingCheckEmail">
        <div class="col-sm-8 col-sm-offset-2">
            <header class="section-header">
                <h2 class="section-title text-center wow fadeInDown">{{ 'resetting.request.submit'|trans }}</h2>
            </header>
        </div>
        <div class="col-sm-8 col-sm-offset-2 content text-center">
            <p class="alert alert-info">
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
            <a href="{{ path('home') }}" class="btn btn-default">Retourner à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
