{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block content %}
    <div class="container text-center error">
        <h1>Erreur 403</h1>
        <p>Une erreur est survenue !</p>
        <a href="{{ path('home') }}" class="btn btn-default">Retourner à l'accueil</a>
    </div>
{% endblock %}