{% extends "FrontBundle::layoutFront.html.twig" %}

{% block title %}Services{% endblock %}
{% block links %}
    <!--<li class="scroll"><a href="/">Accueil</a></li>-->
    <li class="scroll"><a href="{{ path('presentation') }}">A propos</a></li>
    <li class="scroll active"><a href="{{ path('services') }}">Services</a></li>
    <li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>
    <li class="scroll"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>
{% endblock %}
{% block content %}
    <section id="pricing">
        <div class="container">

            <div class="section-header serviceTitle">
                <h2 class="section-title text-center wow fadeInDown">Nos Services</h2>
            </div>

            <div class="row thumb">
                <div class="col-sm-4 col-lg-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">Gratuit</span>
                                    <span class="duration">15j</span>
                                </div>

                                <div class="plan-name">
                                    Cercles
                                </div>
                            </li>
                            <li class="text-capitalize">Possibilité de créer jusqu’à <strong>10</strong> cercles confiance</li>
                            <li>2 gigas d’espaces de stockage</li>
                            <li class="text-capitalize">Essai gratuit pendant 15 jours</li>
                            <li class="text-capitalize">10 euros /mois</li>
                            <li class="plan-purchase"><a class="btn-lg btn-primary" href="#">Souscrire a l'Offre</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">10€</span>
                                    <span class="duration">par mois</span>
                                </div>

                                <div class="plan-name">
                                    Objets connectés
                                </div>
                            </li>
                            <li class="text-capitalize">Service Cercles</li>
                            <li>+ Achat du Lutrin Numérique</li>
                            <li class="text-muted"><small><em>(2 objets connectés offerts)</em></small></li>
                            <li>+ Des dizaines d’Objets connectés référencés</li>
                            <li class="plan-purchase"><a class="btn-lg btn-primary" href="#">Souscrire a l'Offre</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">30€</span>
                                    <span class="duration">par mois</span>
                                </div>

                                <div class="plan-name">
                                    Assistance
                                </div>
                            </li>
                            <li class="text-capitalize">Service Objets connectés</li>
                            <li>Service de téléassistance 7j7 et 24h/24</li>
                            <li>+ Assistance téléphonique 24h/24</li>
                            <li class="plan-purchase"><a class="btn-lg btn-primary" href="#">Souscrire a l'Offre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->
{% endblock %}